//! **************************************************************************
// Written by: Map P.20131013 on Fri Jun 03 14:06:31 2022
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

