//! **************************************************************************
// Written by: Map P.20131013 on Sat Jun 04 18:30:52 2022
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

