//! **************************************************************************
// Written by: Map P.20131013 on Tue May 03 12:25:29 2022
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

