//! **************************************************************************
// Written by: Map P.20131013 on Fri Mar 18 01:04:00 2022
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

