//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 17 21:05:22 2022
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

